<div fxLayoutAlign="center start">
  <div>
    <div fxFlex fxLayout="column" style="width: 450px" class="shadow box">
      <div fxLayoutAlign="center center" class="boxTitle">
        <span fxFlex="grow">Drivhuset</span>
          <span style="float:right" *ngIf="(wifiInfo$ | async) as wifi; else noWifi"><mat-icon matTooltip="{{wifi.rssi}} dBm">wifi</mat-icon></span>
        <ng-template #noWifi>
          <span style="float:right"><mat-icon class="warning-icon" matTooltip="forbindelse mistet!">wifi_off</mat-icon></span>
        </ng-template>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="center" *ngIf="currentTemperature$ | async as temp">
        <div fxFlex="25" class="boxContent borderRight">
          <div fxLayoutAlign="start start">Indenfor 1</div>
          <div fxLayoutAlign="end" style="font-size: 1.25rem">{{temp.temperature_inside_1 | number : '1.0-1'}}&deg;C</div>
        </div>
        <div fxFlex="25" class="boxContent borderRight">
          <div fxLayoutAlign="start start">Indenfor 2</div>
          <div fxLayoutAlign="end" style="font-size: 1.25rem">{{temp.temperature_inside_2 | number : '1.0-1'}}&deg;C</div>
        </div>
        <div fxFlex="25" class="boxContent borderRight">
          <div fxLayoutAlign="start start">Vand</div>
          <div fxLayoutAlign="end" style="font-size: 1.25rem;">{{temp.temperature_water | number : '1.0-1'}}&deg;C </div>
        </div>
        <div fxFlex="25" class="boxContent">
          <div fxLayoutAlign="start start">Udenfor</div>
          <div fxLayoutAlign="end" style="font-size: 1.25rem">{{temp.temperature_outside | number : '1.0-1'}}&deg;C</div>
        </div>
      </div>
    </div>
  </div>
</div>
